#main {
    border-radius: 17%;
    border-color: black;
    border-style: dotted;
    margin-top: 80px;


}
.pet {
    cursor: pointer;
    margin:auto;
    max-width: 400px;

}
body{
    background-color: #b4b9bd;
}